<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Survey page</title>
    <style>
        .container {
            background-color: aqua;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1> <u>SUBMITTED INFO</u> </h1>
        <p> Name: {{request.form['full_name']}}</p>
        <p>Location: {{request.form["location"]}} </p>
        <p>Language: {{request.form["lanuage"]}} </p>

        <p> Comments: {{ request.form["comment_box"]}}</p>
        <a class="btn btn-danger" href="/">Go Back</a>
    </div>
</body>

</html>