<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>edit Account</title>
</head>

<body>
    <p> Edit My Account</p>
    <p><a href="/back">back</a></p>
    <a href="/logout">Logout</a>
    <div>
        <form action="/update" , method="POST">
            <p> First Name <input type="text" name="fname" value="" placeholder=""></p>
            <p> Last Name <input type="text" name="lname" value="" placeholder=""></p>
            <p>Email <input type="text" name="email" value="" placeholder=""></p>
            <p> <input type="submit" name="" id="" value="Update"></p>
        </form>
    </div>
</body>

</html>