<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Validation</title>
    <style>
    .heading{
        width: 300px;
        height: 200px;
        background-color:greenyellow;
    }
    </style>
</head>
<body>
  <div class="heading"> <p>The EmailAdress you Enter   {{print_email.email}} is valid Adrress Thank you!</p></div>
    <p>Email Adress Entred</p>
    <p>{{session['emails']}}</p>
</body>
</html>