<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <h1> Hello Flaskt</h1>


     <h1>Random Numbers</h1>
     {% for number in random_numbers %}
    <h1>{{number}}</h1>
     {% endfor %}
     <h1>--------------</h1>
     {% for student in students%}
     
     <p>{{ student['name'] }} - {{ student['age'] }}***{{student['email']}}</p>
     {%endfor%}

     <h1>************</h1>
     <p>{{students}}</p>

</body>


</html>