<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='my_script.js') }}"></script>
    <title>Dispalyin in the table</title>
</head>
<body>
    <h1 class="header"> This i very cool , I will putting stuff in my css file <img src="{{url_for('static',filename='ninja.png')}}"
            alt="image not found"></h1>
    <table class="table table-bordered">
        <tr>
            <th>First name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
        {% for user_info in user%}
        <tr>
            <td>{{user_info['first_name']}}</td>
            <td>{{user_info['last_name']}}</td>
            <td>{{user_info['first_name']}} {{user_info['last_name']}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>